
//This is file defines the passing criteria for the test
//Here 'x' stands for 1 or more bits with an 'x' value
//All right hand side values all assumed to be hexadecimal numbers

vp[2].omem[0]    == 0000cafe
vp[2].omem[1]    == 0000aced
vp[2].omem[2]    == 0000babe
vp[2].omem[4]    == 0000beef
vp[2].omem[5]    == 0000dead
vp[2].omem[6]    == 00000001
vp[2].omem[7]    == 00000002
vp[2].omem[8]    == 00000003
vp[2].omem[9]    == 00000004

