//This is file defines the passing criteria for the test
//Here 'x' stands for 1 or more bits with an 'x' value
//All right hand side values all assumed to be hexadecimal numbers

vp[2].r[66]    == 0000aced 0000aced 0000aced
vp[2].omem[0]  == 0000000a
vp[2].omem[1]  == 0000000b
vp[2].omem[2]  == 0000000c