
//This is file defines the passing criteria for the test
//Here 'x' stands for 1 or more bits with an 'x' value
//All right hand side values all assumed to be hexadecimal numbers

vp[2].omem[0]    == 0000aced
vp[2].omem[1]    == 0000cafe
vp[2].omem[2]    == 0000babe
vp[2].omem[4]    == 0000beef
vp[2].omem[5]    == 0000feed
vp[2].omem[6]    == 0000faaa

vp[2].omem[10]   == 0000aced
vp[2].omem[11]   == 0000aced
vp[2].omem[12]   == 0000aced
vp[2].omem[13]   == 0000aced
vp[2].omem[14]   == 0000aced
vp[2].omem[15]   == 0000aced
vp[2].omem[16]   == 0000aced
vp[2].omem[17]   == 0000aced
vp[2].omem[18]   == 0000aced
vp[2].omem[19]   == 0000aced
vp[2].omem[20]   == 0000aced
vp[2].omem[21]   == 0000aced
vp[2].omem[22]   == 0000aced
vp[2].omem[23]   == 0000aced
vp[2].omem[24]   == 0000aced
vp[2].omem[25]   == 0000aced
