
//This is file defines the passing criteria for the test
//Here 'x' stands for 1 or more bits with an 'x' value
//All right hand side values all assumed to be hexadecimal numbers


vp[2].omem[0]    == 0000cafe
vp[2].omem[1]    == 0000aced
vp[2].omem[2]    == 0000babe


vp[2].omem[10]    == 0000000a
vp[2].omem[20]    == 00000014
vp[2].omem[30]    == 0000001e
